
.paddling{padding:2px;
}

.bioo:hover{background-color: royalblue; }

.blue{background-color:hsl(215, 60%, 48%) ;}

.green{color: #09e325;}

.distance{height: 3px;width: 70px;background-color: green; }